$BITTERSWEET_light: #FC6E51;
$BITTERSWEET_dark:  #E9573F;
$GRASS_light: #A0D468;
$GRASS_dark: #8CC152;
$AQUA_light: #4FC1E9;
$AQUA_dark: #3BAFDA;
$BLUEJEANS_light: #5D9CEC;
$BLUEJEANS_dark: #4A89DC;
$LIGHTGREY_dark: #E6E9ED;
$MEDIUMGREY_dark: #AAB2BD;
$MEDIUMGREY_light: #CCD1D9;
$DARKGREY_dark: #434A54;
$DARKGREY_light: #656D78;
$SUNFLOWER_dark: #FCBB42;
$allmost_black_grey: #212832;

$pattern_color_background: #F9FAFC;